*{margin:0;padding:0;list-style-type:none;}
.all{ width:960px; margin:0 auto}
.left{ width:300px; float:left}
.right{ width:500px; float:right}
.div-round {
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	font-family: "黑体";
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-bottom: 0;
}

#box-main {
	width: 420px;
	height: 420px;
	padding: 5px;
	background-color:#000
}

#box0,#box1,#box2,#box3,#box4,#box5,#box6,#box7,#box8,#box9,#box10,#box11,#box12,#box13,#box14,#box15
	{
	height: 68px;
	width: 93px;
	float: left;
	margin: 5px;
	padding-top: 25px;
	font-size: 30px;
	text-align: center;
	background: #f0f7ff;
	font-size: 30px;
}

#score,#max,#keys,#tips,#time{
	width: 200px;
	left: 0px;
	top: 20px;
	margin:10px;
	padding:10px;
	border:1px solid #428bca;
	background: #f0f7ff;
	margin-bottom:10px;
}
#game-panel{ margin:0 auto;}

#danger {
	width: 200px;
	margin: 10px;
	padding:10px;
	color:red;
	font-size:30px;
	color: #440044;
}

#keys {
	font-size: 84px;
	color: #bbbbbb;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 6px;
}

.btn:hover,.btn:focus {
	color: #333333;
	text-decoration: none;
}

.btn-primary {
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
	z-index: 99;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
	{
	color: #ffffff;
	background-color: #3276b1;
	border-color: #285e8e;
}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
	{
	background-image: none;
}